
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.App {
  color: Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
  display: flex;
  justify-content: center;
}
